extends layout 

block content
    h1= title
    p Welcome to #{title}

    form(action='/new' method='post')
        input(type='text' name='text')
        input(type='text' name='user')
        input(type='submit' value='Post')